.form {
  width: 100%;
  &__content {
    padding-right: rem(20);
    padding-left: rem(20);
    padding-bottom: rem(20);
  }

  &__control {
    margin-bottom: rem(20);
  }

  &__label {
    font-size: rem(18);
    line-height: rem(26);
    font-weight: 600;
  }
}

.select {
  > div {
    background-color: rgba($gray-light, 0.3);
    border: 2px solid;
    border-color: rgba($black-contrast, 0.3);
    border-radius: rem(5);
    height: 2.5rem;
    padding: 0 rem(16);
    width: 100%;
  }
}

.react-datepicker-wrapper {
  width: 100%;
  input {
    border-radius: rem(5);
    background-color: rgba(219, 222, 226, 0.3);
    border: rem(2) solid rgba(15, 13, 28, 0.3);
    outline: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    width: 100%;
    &:hover {
      background-color: rgba(219, 222, 226, 0.1);
    }
  }
}