.modal {
    background-color: #fff;
    border-radius: rem(5);
    box-shadow: 0 rem(4) rem(4) rgba(0,0,0,.25);
    left: 50%;
    position: fixed;
    top: 20%;
    transform: translateX(-50%);
    z-index: 1500;
    width: 30%;
    @include respond(xs) {
        width: 100%;
    }

    @include respond(sm) {
        width: 80%;
    }

    @include respond(md) {
        width: 50%;
    }

    @include respond(lg) {
        width: 40%;
    }

    &__title {
        padding: rem(20) rem(25);
        font-size: rem(20);
        line-height: rem(22);
        color: $black-contrast;
        &--border {
            border-bottom: rem(1) solid #CBCBCB;
            margin-bottom: rem(20);
        }
    }
}