.nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}

.nav__content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 0;
  background-color: var(--primary);
  height: 100%;
  padding: 1.5rem 2rem;
  transition: 0.4s;
  z-index: 11;
}

.nav__close {
  position: fixed;
  top: 0;
  left: -100%;
  font-size: 2.5rem;
  color: #cc4441;
  z-index: 12;
  transition: 0.4s;
  display: block;
  cursor: pointer;
}

.nav.active .nav__close {
  left: 21rem;
}

.nav.active .nav__content {
  width: 20rem;
  left: 0;
}

.nav h2 {
  color: #fff;
}
