:root {
  --unit: 62.5%;
  --primary: rgb(39, 38, 99);
  --secondary: #deb6c9;
  --third: #e9eaef;
  --base: #f8f8fa;
  --primary-light: rgba(39, 38, 99, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "helvetica neue", Arial, sans-serif;
  font-size: var(--unit);
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* FORM CLASSES */

.form {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.form__group {
  margin-bottom: 2rem;
  position: relative;
}

.form__group.date {
  margin-top: 2rem;
}

.form__group .form__input {
  width: 100%;
  /* margin-bottom: 2rem; */
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--third);
  transition: 0.6s ease 0.1s;
}

.form__group .form__input:focus,
.form__group .form__select:focus {
  border-bottom-color: var(--primary);
}

.form__group .form__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  font-size: 1.4rem;
  transition: 0.4s;
}

.form__group.date .form__label {
  top: -2rem;
}

.form__group .form__input:focus ~ .form__label,
.form__group .form__select:focus ~ .form__label,
.form__group .form__input:valid ~ .form__label,
.form__group .form__select:valid ~ .form__label {
  top: -2rem;
  left: 0rem;
  font-size: 1rem;
  color: var(--primary);
}

.form__group .form__radio {
  display: none;
}

.form__group.radio {
  background-color: var(--third);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--primary);
}

.form__group .form__radio + .form__label {
  position: relative;
  z-index: 1;
  flex: 1;
  text-align: center;
  padding: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  color: black;
}

.form__group .form__radio + .form__label::before {
  content: "";
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
  font-weight: bolder;
  transition: left 0.4s ease-in;
}

.form__group .form__radio:nth-child(1) + .form__label::before {
  background-color: var(--primary-light);
  left: calc(100% + 0.5rem);
}

.form__group .form__radio:nth-child(2) + .form__label::before {
  left: 0;
}

.form__group .form__radio:checked + .form__label::before {
  left: 0;
  color: white;
}

.form__group .form__radio + .form__label:last-child {
  margin-right: 0;
}

.form__group .form__select {
  appearance: none;
  width: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--third);
  transition: 0.6s ease 0.1s;
}

.form__group i {
  position: absolute;
  right: 1rem;
  top: calc(50% - 1.2rem);
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  border-left: 0.2rem solid var(--primary);
  border-bottom: 0.2rem solid var(--primary);
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}

/* BUTTON */

.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.4s;
}

.button__submit {
  display: block;
  color: var(--primary);
}

.button__green {
  border: 0.2rem solid #4c8036;
  color: #4c8036;
  margin-left: 1rem;
}

.button__green:hover {
  background-color: #4c8036;
  color: white;
}

.button__red {
  background-color: #cc4441;
}

.button__google {
  background-color: #ea4335;
}

.button__google:hover,
.button__facebook:hover {
  opacity: 0.8;
  transform: translateY(-0.5rem);
}

.button__facebook {
  background-color: #1877f2;
}

/* LOGIN PAGE STYLES */

.wrapper {
  width: 100%;
  position: relative;
  padding: 2rem;
  margin: 6rem auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 100%;
    padding: 3rem;
  }
}

/* ALERT CLASSES */

.alert {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: transparent;
  position: fixed;
  bottom: -100%;
  left: 0;
  transition: 0.4s ease-in;
  z-index: 12;
  display: flex;
  align-items: center;
}

.alert.active {
  bottom: 0;
}

.alert--default {
  background-color: var(--primary-light);
}

.alert--info {
  background-color: #c3e8fac2;
}

.alert--success {
  background-color: #c5e2c0;
}

.alert--danger {
  background-color: #e2c5c0;
  border-color: #864040;
}

.alert__content {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 0.2rem;
  flex: 1;
}

.alert__text {
  font-size: 1.2rem;
}

.alert__content i {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 2rem;
}

.alert__close {
  font-size: 1.8rem;
  font-weight: bold;
  color: #cc4441;
  cursor: pointer;
}

.message {
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  transition: 0.2s ease-in;
}

.message:hover {
  text-decoration: underline;
}
.f-10 {
  font-size: 1rem;
}

.c--purple {
  color: var(--primary);
  font-weight: bold;
}

/* LABELS */

.label {
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  background-color: var(--third);
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

.label--danger {
  background-color: #ce4c35;
}

.label--info {
  background-color: #67bce7c2;
}
